button {
    margin: 10px 0;
}

#events-list {
    overflow-y:scroll;
    height:325px;
}

/*
.events-list-item {
    height: 50px;
    margin: 10px 0;
    background: darkgray;
}

.events-list-item:hover {
    height: 50px;
    margin: 10px 0;
    background: lightgray;
}

.events-list-item p {
    padding: 5px;
}
*/

.events-list-item-date {
    font-weight: bold;
    padding-bottom: 0;
}

#facts-list {

}

.facts-list-item .input-field {
    margin-top: 0.8rem;
    margin-bottom: 0;
}